 .u-section-1 {
  min-height: 100vh;
}

.u-section-1 .u-tabs-1 {
  min-height: 840px;
  margin-bottom: 58px;
  height: auto;
  margin-top: 192px;
}

.u-section-1 .u-tab-link-1 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  padding: 10px 15px;
}

.u-section-1 .u-tab-link-2 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  padding: 10px 15px;
}

.u-section-1 .u-tab-link-3 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  padding: 10px 15px;
}

.u-section-1 .u-tab-link-4 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  padding: 10px 15px;
}

.u-section-1 .u-tab-link-5 {
  background-image: none;
  --radius: 50px;
  text-transform: uppercase;
  font-weight: 900;
  font-family: Roboto, sans-serif;
  padding: 10px 15px;
}

.u-section-1 .u-tab-pane-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 367px;
  width: 645px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-1 .u-tab-pane-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 367px;
  width: 641px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-1 .u-tab-pane-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-1 .u-image-1 {
  --radius: 50px;
  width: 600px;
  height: 334px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-1 .u-tab-pane-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 30px;
}

.u-section-1 .u-image-2 {
  --radius: 50px;
  width: 599px;
  height: 334px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 0 auto;
}

.u-section-1 .u-custom-html-3 {
  height: auto;
  min-height: 367px;
  width: 642px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  transition-duration: 0.5s;
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  margin: 10px auto 0;
}

.u-section-1 .u-tab-pane-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 30px;
}

.u-section-1 .u-gallery-1 {
  height: 629px;
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-gallery-inner-1 {
  grid-template-columns: repeat(2, auto);
}

.u-section-1 .u-gallery-item-1 {
  margin-right: 30px;
}

.u-section-1 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-2 {
  margin-right: 30px;
}

.u-section-1 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-3 {
  margin-right: 30px;
}

.u-section-1 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-item-4 {
  margin-right: 30px;
}

.u-section-1 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-1 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .u-gallery-nav-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-1 .embed-responsive-1 {
  position: absolute;
}

@media (max-width: 767px) {
  .u-section-1 .u-tabs-1 {
    min-height: 701px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 520px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    width: 520px;
    height: 289px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 520px;
    height: 290px;
  }

  .u-section-1 .u-custom-html-3 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-tabs-1 {
    margin-top: 0;
  }

  .u-section-1 .u-custom-html-1 {
    width: 320px;
  }

  .u-section-1 .u-image-1 {
    width: 320px;
    height: 178px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 190px;
  }
}

.u-block-7d87-25:not([data-block-selected]):not([data-cell-selected]),
.u-block-7d87-25:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7d87-25:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7d87-25.u-block-7d87-25.u-block-7d87-25:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-7d87-25.u-block-7d87-25.u-block-7d87-25.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-7d87-49:not([data-block-selected]):not([data-cell-selected]),
.u-block-7d87-49:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7d87-49:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7d87-49.u-block-7d87-49.u-block-7d87-49:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-7d87-49.u-block-7d87-49.u-block-7d87-49.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-7d87-48:not([data-block-selected]):not([data-cell-selected]),
.u-block-7d87-48:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-7d87-48:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-7d87-48.u-block-7d87-48.u-block-7d87-48:hover:not([data-block-selected]):not([data-cell-selected]) {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-block-7d87-48.u-block-7d87-48.u-block-7d87-48.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-1,
.u-section-1 .u-custom-html-1:before,
.u-section-1 .u-custom-html-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-custom-html-1.u-custom-html-1.u-custom-html-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-1.u-custom-html-1.u-custom-html-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-2,
.u-section-1 .u-custom-html-2:before,
.u-section-1 .u-custom-html-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-custom-html-2.u-custom-html-2.u-custom-html-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-2.u-custom-html-2.u-custom-html-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1,
.u-section-1 .u-image-1:before,
.u-section-1 .u-image-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-1.u-image-1.u-image-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-1.u-image-1.u-image-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2,
.u-section-1 .u-image-2:before,
.u-section-1 .u-image-2 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-image-2.u-image-2.u-image-2:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-image-2.u-image-2.u-image-2.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-3,
.u-section-1 .u-custom-html-3:before,
.u-section-1 .u-custom-html-3 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-custom-html-3.u-custom-html-3.u-custom-html-3:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}

.u-section-1 .u-custom-html-3.u-custom-html-3.u-custom-html-3.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
}